.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: 500;
}

.button {
  padding: 8px;
}

.link {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
